body{
    background: rgb(85, 85, 85);
}
    

form {
    width: 75%;
    padding: 20px;
    //background: rgb(85, 85, 85);
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    margin-right: 20px;
  }
  