.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: rgb(85, 85, 85);
    
  }

.nav{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.table {
    padding: 20px;
  
    table {
      width: 100%;
    }
  }
  
  .button-holder {
    padding: 20px;
    text-align: right;
  }
  